:root {
    --accent: #aadee8;
    --ac_dark: #4798a3;
    --ac_black: #06272b;
    --ac_light: #d3edf1;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: border-box;
    /* border: 1px dashed red; */
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
  }
  
  a{
      text-decoration: none;
      color: white;
  }
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap");
  
  /* font-family: 'Montserrat', sans-serif;
  font-family: 'Oswald', sans-serif; */
.parentBanner{
   position: relative;
    
}  



  .banner-image{
    width: 100vw;
    
}

.shopBtn{
    padding: 10px 30px;
    font-weight: 700;
    text-transform: uppercase;
    background: var(--accent);
    border: none;
    border-radius: 50px;
    transition: 0.33s all ease-out;
    color: var(--ac_black);
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 4px solid var(--ac_black );
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.486);
}
.shopBtn:hover{
    transform: translate(-50%,-50%) scale(1.2);
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.507);
}


.pets{
    
    background: var(--ac_light);
    z-index: -1;
}

.line h3{
    text-align: center;
    position: relative;
    padding: 1rem 0;
    letter-spacing: 2px;
    color: var(--ac_black);
    text-transform: uppercase;

}
.line h3::before{
    background: #0000006b;;
    display: block;
    position: absolute;
    content: "";
    height: 2px;
    width: 35vw;
    top: 50%;
    left: 0;
    z-index: 1;
}
.line h3::after{
    background: #0000006b;
    display: block;
    position: absolute;
    content: "";
    height: 2px;
    width: 35vw;
    top: 50%;
    right: 0;
    z-index: 1;
}

.mainCategory{
    display: flex;
    justify-content: space-around;
}
.categoryBox{
   width: 20vw;
   height: 15rem;
}
.card{
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1200ms;
    transform-style: preserve-3d;
}
.categoryBox:hover > .card{
    cursor: pointer;
    transform: rotateY(180deg);
}
.categoryImg , .description{
    height: 100%;
    width: 100%;
    border-radius: 0.7rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    position: absolute;
    backface-visibility: hidden;

}
.description{
    background-color: var(--accent);
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px ;
    color: var(--ac_black);
    font-weight: 500;
    text-align: center;
}
.description a{
    margin-top: 50px;
    padding: 10px 30px;
    font-weight: 700;
    text-transform: uppercase;
    background: var(--accent);
    border: none;
    border-radius: 50px;
    transition: 0.33s all ease-out;
    color: var(--ac_black);
    border: 4px solid var(--ac_black );
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.486);
}
.description a:hover{
    color: #3a3a3a;
    background-color: #fff;
   
}





