:root {
    --accent: #aadee8;
    --ac_dark: #4798a3;
    --ac_black: #06272b;
    --ac_light: #d3edf1;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: border-box;
    /* border: 1px dashed red; */
    font-family: 'Montserrat', sans-serif;
  }
  
  a{
      text-decoration: none;
      color: white;
  }
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap");
  
  /* font-family: 'Montserrat', sans-serif;
  font-family: 'Oswald', sans-serif; */
  

  .headerParent {
    background: var(--ac_black);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
  
  }
  .header {
    background: var(--ac_black);
    color: white;
    display: flex;
    width: 96vw;
    /* flex-direction: column; */
    justify-content: space-between;
    overflow: hidden;
    padding: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.205);
  
  }

  .contact{
    display: flex;
  }
  .contact p{
    padding: 0px 10px;
    color:rgba(255, 255, 255,0.5);
  }
  .contact p span{
    padding: 0px 5px;
    color: white;
  }


  .searchBar{
    display: flex;
    width: 30%;
  }

  .searchBar input {
    padding: 10px 30px;
    border-radius: 50px 0px 0px 50px ;
    width: 100%;
    border: 2px solid var(--ac_black);
  }
  .searchBar button {
    padding: 10px 30px;
    border-radius: 0px 50px 50px 0px;
    border: none;
    outline: none;
    background: var(--accent);
    border: 2px solid var(--ac_black);
    color: var(--ac_black);
  }


  .logoPart {
    background: var(--ac_black);
    color: white;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    width: 96vw;
    padding: 10px;

  
  }

  .imgParent{
    width: 35%;
  }
 
  .logoImg{
    height: 40px;
    margin: 10px;
  
  }


  .link{
    width: 35%;
    display: flex;
    justify-content: flex-end;
  }

.linkChild a{
   padding: 0px 20px ; 
}

.linkChild a button{
    padding: 10px 30px;
    font-weight: 700;
    text-transform: uppercase;
    background: var(--accent);
    border: none;
    border-radius: 50px;
    transition: 0.33s all ease-out;

}
.linkChild a button:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.295);
}
.logout{
  padding: 10px 30px;
  font-weight: 700;
  text-transform: uppercase;
  background: var(--accent);
  border: none;
  border-radius: 50px;
  transition: 0.33s all ease-out;
}
.logout:hover{
  transform: scale(1.1);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.295);
}