:root {
    --accent: #aadee8;
    --ac_dark: #4798a3;
    --ac_black: #06272b;
    --ac_light: #d3edf1;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
  }

  @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap");

.body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
    background: var(--ac_light);
    font-family: 'Montserrat', sans-serif;
}
.signUp-container{
    max-width: 700px;
    width: 100%;
    background: #fffefe54;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.signUp-container:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
.signUp-container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    font-family: 'Oswald', sans-serif;
}
.signUp-container form{
    width: 100%;
    height: 100%;
}
.signUp-container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0 12px 0;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
form .user-details .input-box input{
    height: 35px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0px 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #9b59b6 ;
}
.registerbtn{
    display: flex;
    justify-content: center;
}
.register-btn{
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    background:var(--ac_dark) ;
    font-weight: 600;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
.register-btn:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.register-btn:disabled{
    background-color: var(--accent);
}
.signup-login-link{
    color: var(--ac_black);
    opacity: 0.6;
}
.signup-login-link:hover{
    color: var(--ac_black);
    opacity: 1;
}