:root {
    --accent: #aadee8;
    --ac_dark: #4798a3;
    --ac_black: #06272b;
    --ac_light: #d3edf1;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
  }
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
    background: var(--ac_light);
}
.avatar{
    width: 100px;
    border-radius: 60%;
}
.login-container{
    max-width: 700px;
    text-align: center;
    background: #fffefe54;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.login-container:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.txt{
    font-family: 'Oswald', sans-serif;
}
form{
    width: 360px;
}
form h2{
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 15px 0;
    color: #333;
}
.inputbox{
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}
.inputbox::after, .inputbox::before{
    content: "";
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
}
.inputbox::after{
    right: 50%;
}
.inputbox::before{
    left: 50%;
}
.inputbox.one{
    margin-top: 0px;
}
.inputbox.two{
    margin-bottom: 4px;
}
.i{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: var(--ac_dark);
}
.inputbox.input-field{
    height: 45px;
}
.input-field input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: var(--ac_black);
}
.btn{
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    margin: 1rem 0;
    font-size: 1.2rem;
    outline: none;
    border: none;
    cursor: pointer;
    background-size: 200%;
    transition: 0.5s;
    text-transform: uppercase;
    background: var(--ac_dark);
    color: #fff;
}
.signin-links{
    display: flex;
    flex-direction: column;
    margin: 0.6rem;
  }
  .signin-links a{
    text-decoration: none;
    color: var(--ac_dark);
    padding: 5px 0px;
    font-weight: 500;
  }
  .signin-links a:hover{
    color: var(--ac_black);
  }